.night a[data-id]:before {
  filter: invert(1);
}

.nav {
  position: fixed;
  background-color: var(--color-light);
  bottom: 0;
  left: 0;
  right: 0;
  border-top: solid 2px var(--color-dark);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  @include apply-utility('font', 'sans-serif');
  font-size: 0.8rem;
  font-weight: 600;
  padding-bottom: env(safe-area-inset-bottom);

  &__list {
    > * + * {
      margin-left: get-size(500);
    }
  }

  &__item {
    padding: 1.1rem 0 0.8rem 0;
    flex-shrink: 0;

    a {
      width: 100%;
      position: relative;
      display: block;
      color: currentColor;
      text-decoration: none;
      margin-top: 1rem;
      position: relative;
    }

    a[aria-current='page']:after,
    a:hover:after {
      opacity: 1;
    }

    a:after {
      opacity: 0;
      content: '';
      position: absolute;
      bottom: -75%;
      left: 0;
      right: 0;
      width: 100%;
      height: 1rem;
      background-image: url("data:image/svg+xml,%3Csvg width='53' height='4' viewBox='0 0 53 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M51.9 3C49 3 49 1 46.2 1c-2.8 0-2.8 2-5.7 2-2.8 0-2.8-2-5.7-2C32 1 32 3 29.1 3c-2.8 0-2.8-2-5.7-2-2.8 0-2.8 2-5.6 2S15 1 12.1 1C9.5 1 9.5 3 6.7 3 3.8 3 3.8 1 1 1' stroke='%23404040' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='52.9' height='4' fill='%23404040'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      transition: opacity 0.3s ease-out;
    }

    a[data-id]:before {
      content: '';
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      top: -140%;
      left: 50%;
      transform: translateX(-50%);
    }

    a[data-id='about me']:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 85.04 85.04'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cpath d='M60.92 75.24a6.7 6.7 0 01-3.14-.78l-11-5.77a6.3 6.3 0 00-5.85 0L30 74.46a6.7 6.7 0 01-3.14.78 6.75 6.75 0 01-6.66-7.91l2.09-12.22a6.29 6.29 0 00-1.81-5.58l-8.88-8.65a6.76 6.76 0 013.7-11.53l12.27-1.79a6.27 6.27 0 004.74-3.44L37.81 13a6.76 6.76 0 0112.12 0l5.49 11.12a6.26 6.26 0 004.74 3.44l12.27 1.79a6.76 6.76 0 013.75 11.53l-8.88 8.65a6.29 6.29 0 00-1.81 5.58l2.09 12.22a6.76 6.76 0 01-6.66 7.91z' fill='%23c1c1c1'/%3E%3Cpath d='M43.87 11.53a4.4 4.4 0 014 2.48l5.5 11.13a8.59 8.59 0 006.46 4.7l12.27 1.78a4.46 4.46 0 012.47 7.61l-8.88 8.66a8.6 8.6 0 00-2.47 7.6l2.1 12.23a4.48 4.48 0 01-4.4 5.28 4.43 4.43 0 01-2.07-.53l-11-5.77a8.63 8.63 0 00-8 0l-11 5.77a4.44 4.44 0 01-6.48-4.7l2.1-12.23A8.6 8.6 0 0022 47.89l-8.89-8.66a4.47 4.47 0 012.48-7.61l12.31-1.78a8.63 8.63 0 006.48-4.7L39.87 14a4.4 4.4 0 014-2.48m0-4.6A9 9 0 0035.74 12l-5.49 11.1a4 4 0 01-3 2.19L15 27.07a9.06 9.06 0 00-5 15.45l8.89 8.66A4 4 0 0120 54.72l-2.1 12.22A9 9 0 0031 76.49l11-5.77a4 4 0 011.86-.45 4 4 0 011.85.45l11 5.77a8.92 8.92 0 004.21 1.06A9.08 9.08 0 0069.85 67l-2.1-12.23a4 4 0 011.15-3.54l8.88-8.65a9.06 9.06 0 00-5-15.46l-12.29-1.83a4 4 0 01-3-2.19L52 12a9 9 0 00-8.12-5.05z' fill='%23404040'/%3E%3Cpath d='M43.89 11.53a4.4 4.4 0 00-4 2.48l-5.51 11.13a8.63 8.63 0 01-6.48 4.7l-12.27 1.78a4.47 4.47 0 00-2.48 7.61L22 47.89a8.6 8.6 0 012.47 7.6l-2.1 12.23a4.47 4.47 0 006.48 4.7l11-5.77a8.5 8.5 0 014-1z' fill='%23efefef'/%3E%3Cpath d='M43.43 23.48s2.68 5.81 5.92 11.52' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.6'/%3E%3C/g%3E%3C/svg%3E%0A");
    }

    a[data-id='speaking']:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 85.04 85.04'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cpath d='M42.52 52.66a12.77 12.77 0 01-12.74-12.74V22.61a12.16 12.16 0 013.74-9 12.67 12.67 0 0118 0 12.16 12.16 0 013.74 9v17.31a12.77 12.77 0 01-12.74 12.74z' fill='%23c1c1c1'/%3E%3Cpath d='M42.52 12.16a9.87 9.87 0 017.37 3.07A9.84 9.84 0 0153 22.61v17.31a10.48 10.48 0 01-10.48 10.44 9.8 9.8 0 01-7.37-3.07 9.83 9.83 0 01-3.07-7.37V22.61a9.84 9.84 0 013.07-7.38 9.84 9.84 0 017.37-3.07m0-4.6A14.45 14.45 0 0031.9 12a14.49 14.49 0 00-4.42 10.63v17.29a15.09 15.09 0 0015 15 15.09 15.09 0 0015-15V22.61A14.49 14.49 0 0053.14 12a14.46 14.46 0 00-10.62-4.44z' fill='%23404040'/%3E%3Cpath d='M19 31.69V39a23.57 23.57 0 0047.14 0v-7.56' fill='none' stroke='%23404040' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.6'/%3E%3Cline x1='42.52' y1='62.56' x2='42.52' y2='77.58' fill='%23c1c1c1' stroke='%23404040' stroke-linejoin='round' stroke-width='4.6'/%3E%3Cline x1='26.84' y1='76.34' x2='58.2' y2='76.34' fill='none' stroke='%23404040' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.6'/%3E%3Cpath d='M42.48 7.56A14.49 14.49 0 0031.9 12a14.49 14.49 0 00-4.42 10.63v17.29a15.09 15.09 0 0015 15z' fill='%23efefef'/%3E%3Cpath d='M42.52 12.16a9.87 9.87 0 017.37 3.07A9.84 9.84 0 0153 22.61v17.31a10.48 10.48 0 01-10.48 10.44 9.8 9.8 0 01-7.37-3.07 9.83 9.83 0 01-3.07-7.37V22.61a9.84 9.84 0 013.07-7.38 9.84 9.84 0 017.37-3.07m0-4.6A14.45 14.45 0 0031.9 12a14.49 14.49 0 00-4.42 10.63v17.29a15.09 15.09 0 0015 15 15.09 15.09 0 0015-15V22.61A14.49 14.49 0 0053.14 12a14.46 14.46 0 00-10.62-4.44z' fill='%23404040'/%3E%3Cpath d='M41.24 18.39a6.35 6.35 0 016.35 6.34V32' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.6'/%3E%3C/g%3E%3C/svg%3E");
    }

    a[data-id='writing']:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 85.04 85.04'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cpath d='M17.49 73.63a6.48 6.48 0 01-6.32-7.78l2.7-13.24a13 13 0 013.54-6.56l34-34a9.2 9.2 0 0113 0l8 8a9.2 9.2 0 010 13l-34 34a13.21 13.21 0 01-6.53 3.57l-13 2.83a7.21 7.21 0 01-1.39.15z' fill='%23c1c1c1'/%3E%3Cpath d='M57.93 11.63a6.89 6.89 0 014.87 2l8 8a6.9 6.9 0 010 9.74l-34 34a10.86 10.86 0 01-5.39 2.94l-13 2.83a4.78 4.78 0 01-.91.1 4.18 4.18 0 01-4.07-5L16.14 53a10.75 10.75 0 012.9-5.4l34-34a6.83 6.83 0 014.87-2m0-4.6a11.39 11.39 0 00-8.12 3.37l-34 34a15.27 15.27 0 00-4.16 7.73L8.92 65.39a8.78 8.78 0 008.57 10.54 8.53 8.53 0 001.88-.21l13-2.82a15.37 15.37 0 007.67-4.19l34-34a11.49 11.49 0 000-16.25l-8-8A11.43 11.43 0 0057.93 7z' fill='%23404040'/%3E%3Crect x='27.93' y='41.29' width='40.13' height='11.1' transform='rotate(-45 48.00071 46.837455)' fill='%23efefef'/%3E%3Cline x1='36.89' y1='66.2' x2='17.93' y2='47.24' fill='%23c1c1c1' stroke='%23404040' stroke-linejoin='round' stroke-width='4.6'/%3E%3Cline x1='67.23' y1='35.86' x2='48.26' y2='16.9' fill='%23c1c1c1' stroke='%23404040' stroke-linejoin='round' stroke-width='4.6'/%3E%3Cpath d='M18.4 71.23L24.28 70l-9.63-9.63-1.23 6a4.18 4.18 0 004.98 4.86z' fill='%23404040'/%3E%3Cline x1='28.59' y1='55.9' x2='57.33' y2='27.16' fill='%23c1c1c1' stroke='%23404040' stroke-linejoin='round' stroke-width='4.6'/%3E%3Cline x1='34.53' y1='38.8' x2='46.4' y2='27.05' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.6'/%3E%3Cpath d='M57 16.74a2.2 2.2 0 012.55-.11' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.6'/%3E%3C/g%3E%3C/svg%3E");
    }

    a[data-id='playing']:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 85.04 85.04'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cpath d='M43.89 80.25a2.28 2.28 0 01-1.15-.31 2.32 2.32 0 01-1.15-2.06l.47-14.74a2.32 2.32 0 01.6-1.47l17-18.73a2.29 2.29 0 011.71-.76 2.37 2.37 0 01.9.18 2.31 2.31 0 011.39 2.28L62 68.29a2.29 2.29 0 01-1.08 1.79L45.11 79.9a2.33 2.33 0 01-1.22.35z' fill='%23efefef'/%3E%3Cpath d='M61.33 44.48l-1.67 23.65L43.89 78l.47-14.73 17-18.74m0-4.6a4.63 4.63 0 00-3.42 1.51L41 60.13a4.58 4.58 0 00-1.18 2.94L39.3 77.8a4.59 4.59 0 004.59 4.75 4.51 4.51 0 002.43-.7L62.1 72a4.59 4.59 0 002.15-3.58l1.67-23.62a4.6 4.6 0 00-4.58-4.92z' fill='%23404040'/%3E%3Cpath d='M8.86 45.22a2.29 2.29 0 01-1.95-3.52l9.82-15.77a2.28 2.28 0 011.79-1.08l23.65-1.67h.16a2.3 2.3 0 011.54 4l-18.74 17a2.22 2.22 0 01-1.47.59z' fill='%23c1c1c1'/%3E%3Cpath d='M42.33 25.47l-18.74 17-14.73.48 9.82-15.77 23.65-1.68m0-4.6H42l-23.64 1.66a4.59 4.59 0 00-3.58 2.15L5 40.49a4.6 4.6 0 003.91 7H9L23.74 47a4.54 4.54 0 002.94-1.19l18.74-17a4.6 4.6 0 00-3.09-8z' fill='%23404040'/%3E%3Cpath d='M41.7 63.68a2.3 2.3 0 01-1.63-.68L23.68 46.62A2.31 2.31 0 0123 45a2.29 2.29 0 01.67-1.62l29-29c4-4 11.3-6.82 17.72-6.82a17.55 17.55 0 016.15 1 2.24 2.24 0 01.9.51 2.33 2.33 0 01.68 1.1c2.88 7.76-.7 18.74-5.78 23.83l-29 29a2.3 2.3 0 01-1.64.68z' fill='%23c1c1c1'/%3E%3Cpath d='M70.43 9.83a15.27 15.27 0 015.48.93c2.62 6.81-.69 17.06-5.21 21.58l-29 29L25.31 45l29-29c3.41-3.41 10.09-6.14 16.09-6.14m0-4.6c-7 0-14.94 3.08-19.35 7.49l-29 29a4.6 4.6 0 000 6.51l16.39 16.37a4.6 4.6 0 006.51 0l29-29c5.69-5.69 9.55-17.53 6.34-26.25a4.39 4.39 0 00-.8-1.49 4.65 4.65 0 00-2.27-1.53 20 20 0 00-6.81-1.11z' fill='%23404040'/%3E%3Cpath d='M75.94 10.79c2.61 6.8-.7 17-5.22 21.56l-29 29-8.2-8.15z' fill='%23efefef'/%3E%3Cpath d='M60.26 21.25a3.66 3.66 0 105.18 0 3.65 3.65 0 00-5.18 0z' fill='none' stroke='%23404040' stroke-linejoin='round' stroke-width='4.6'/%3E%3Cline x1='36.99' y1='41.7' x2='47.49' y2='31.7' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.6'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
  }
}

.nav__item-hover {
  margin: 0;
  line-height: 1;
  text-decoration: none;
}

.nav__item-hover-inner {
  display: block;
  position: relative;
  font-weight: normal;
  letter-spacing: 0.06rem;
  line-height: 1.25;
}

.nav__item-hover-inner[data-hover] {
  color: var(--color-dark);
}

.nav__item-hover-inner::before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  color: var(--color-highlight);
  transition: all cubic-bezier(1, 0, 0, 1) 0.3s;
}

.nav__item-hover-inner::after {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  color: var(--color-dark);
  transition: all cubic-bezier(1, 0, 0, 1) 0.3s 0.2s;
}

@media (hover: hover) {
  .nav__item:hover .nav__item-hover-inner::before,
  .nav__item:hover .nav__item-hover-inner::after {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .nav {
    font-size: var(--step-0);
    background-color: transparent;
    position: relative;
    border-top: none;
    display: block;
    margin-left: auto;

    a {
      margin-top: 0;
    }

    a[data-id]:before {
      display: none;
    }
  }
}

.night {
  .nav__item {
    a:after {
      filter: invert(1);
    }
  }
}
