.Site-head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  &__site-name {
    font-weight: 700;
    text-decoration: none;
    color: var(--color-text);
  }
}

@media screen and (min-width: 800px) {
  .Site-head {
    background-color: transparent;
  }
}
