<section class="[ Contact ] [ pad-around-lg ]">
	<div class="[ Contact__inner ] [ wrapper sf-flow pad-before ]">
		<h2 class="[ Contact__heading ] [ h1 ]">Hey there!</h2>
		<div class="[ Contact__content ] [ sf-flow ]">
			<p class="[ font-sans-serif h5 ]">I’m always up for a chat.</p>
			<p class="[ h6 ]">
				<a href="mailto:hi@cassie.codes" class="[ js-hover ] [ link ]">Pop me an email</a>
				at hi@cassie.codes
				<br>
				or give me a shout on social media.</p>

			<div class="[ Contact__social ] [ js-hover ]">
				<a href="https://twitter.com/cassiecodes" rel="external" class="[ none ]">Twitter
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 -2 33.4 29.5" overflow="visible">
						<path d="M33.3 3.3c-1.1.5-2.2.8-3.4 1 .5-.1 1.3-1.1 1.7-1.5.5-.6.9-1.3 1.1-2 0-.1.1-.1 0-.2h-.2c-1.3.7-2.6 1.2-4 1.5-.1 0-.2 0-.3-.1-.1-.1-.2-.3-.4-.4-.6-.5-1.2-.9-1.9-1.2-.9-.4-2-.5-3-.5-1 .1-2 .3-2.8.8-.9.5-1.7 1.1-2.3 1.9-.6.8-1.1 1.7-1.4 2.7-.2 1-.2 1.9-.1 2.9 0 .2 0 .2-.1.2-5.5-.8-10.1-2.8-13.8-7-.2-.2-.2-.2-.4 0-1.5 2.5-.7 6.4 1.3 8.3.3.3.5.5.8.7-.1 0-1.5-.1-2.7-.7-.2-.1-.2 0-.3.1v.8c.3 2.5 2 4.7 4.4 5.6l.9.3c-.5.1-1.1.2-2.6.1-.2 0-.3.1-.2.2 1.1 3.1 3.6 4.1 5.5 4.6.2 0 .5 0 .7.1-.6.9-2.7 1.6-3.7 2-1.8.6-3.8.9-5.7.7h-.5c-.1.1 0 .1.1.2.4.3.8.5 1.2.7 1.2.6 2.5 1.2 3.8 1.5 6.8 1.9 14.5.5 19.6-4.6 4-4 5.4-9.5 5.4-15 0-.2.3-.3.4-.4 1-.8 1.9-1.7 2.7-2.8.2-.2.2-.4.2-.5.1-.1.1-.1 0 0z" fill="currentcolor"/>
					</svg>
				</a>

				<a href="https://linkedin.com/in/cassie-codes" rel="external" class="[ none ]">LinkedIn
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30.2 28.9" overflow="visible">
						<path fill="currentcolor" d="M30.2 17.7v10.7c0 .3-.2.5-.5.5h-5.5c-.3 0-.5-.2-.5-.5v-9.9c0-2.6-.9-4.4-3.3-4.4-1.8 0-2.8 1.2-3.3 2.4-.2.4-.2 1-.2 1.6v10.4c0 .3-.2.5-.5.5h-5.5c-.3 0-.5-.2-.5-.5 0-2.6.1-15.5 0-18.5 0-.3.2-.5.5-.5h5.5c.3 0 .5.2.5.5v2.4-.1c.9-1.3 2.4-3.2 5.8-3.2 4.3-.2 7.5 2.6 7.5 8.6zM.9 28.9h5.5c.3 0 .5-.2.5-.5V9.9c0-.3-.2-.5-.5-.5H.9c-.3 0-.5.2-.5.5v18.5c0 .2.2.5.5.5zM6.9 3.5C6.9 5.4 5.3 7 3.4 7S0 5.4 0 3.5 1.6 0 3.5 0s3.4 1.6 3.4 3.5z"/>
					</svg>
				</a>
			</div>
		</div>
		{% include "partials/components/me.svg" %}
	</div>
</section>
