<header class="[ Hero ]">
	<div class="[ Hero__inner ] [ wrapper wrapper-lg ]">
		{% include "partials/components/illustration.svg" %}
		<div class="[ Hero__content ] [ pad-around-lg ]">
			<p class="[ Hero__eyebrow ] [ font-cursive h5 ]">👋
				<span>
					Hi, I'm cassie</span>
			</p>
			<h1 class="[ Hero__heading ] [ h1 ]">
				I like making
				<a href="https://codepen.io/cassie-codes" class="outline js-fun">fun</a>,
				<span class="js-interactive">interactive</span>
				things with code. I also
				<a href="#speaking" class="outline js-hover-talk">talk
					{% include "partials/components/swipe.svg" %}
				</a>
				&
				<a href="#writing" class="outline js-hover-write">write</a>
				about those things.
			</h1>
		</div>
	</div>
</header>
