<header class="[ intro ] [ pad-top-900 pad-bottom-max ]">
  <div class="[ inner-wrapper ] [ sf-flow ]">
    {% if introSummary %}
     <h1 class="[ post-list__heading Heading--highlight ] [ h3 ]">Hi there, thanks for dropping by.</h1>
      <div class="[ intro__summary ] [ sf-flow ] [ leading-mid measure-short ]">
        <p>😊 I'm Cassie and I make things on the web</p>
        <p>🖥️ During the week I make accessible, progressively enhanced things for <a  href="https://clearleft.com/">Clearleft</a></p>
        <p>🦄 In my spare time I make fun, animated things on <a  href="https://codepen.io/cassie-codes/">Codepen.</a></p>
        <p>🎤 I sometimes talk about these things, and I'm going to be writing about them more now that I've got my blog started!</p>
      </div>
    {% endif %}
  </div>
</header>