<section id="writing" class="[ Posts-intro js-browsers ] [ pad-around-xlg ]">
	<div class="[ Posts-intro__inner ] [ wrapper sf-flow ]">
		<h2 class="[ Posts-intro__heading ] [ h1 ]">Writing.</h2>

		<article class="[ Browser js-browser ]">
			<a class="[ Browser__heading ] [ underline ]" rel="external" href="https://css-tricks.com/the-many-ways-to-change-an-svg-fill-on-hover-and-when-to-use-them/">
				<h2 class="[ h5 ] [ underline__text ]">
					The many ways to change an SVG fill on hover
				</h2>
			</a>

			<p>
				How do you go about adding a colored hover effect to an icon if it’s not an inline SVG? Let’s dive into what’s possible with CSS and SVG filters.
			</p>
			<footer class="[ Browser__footer ]">
				<a rel="external" class="[ none ]" href="https://css-tricks.com/">CSS tricks</a>
				<a class="[ arrow ]" rel="external" href="https://css-tricks.com/the-many-ways-to-change-an-svg-fill-on-hover-and-when-to-use-them/">Read post</a>
			</footer>
		</article>

		<article class="[ Browser js-browser ]">
			<a class="[ Browser__heading ] [ underline ]" rel="external" href="https://tympanus.net/codrops/2019/12/03/motion-paths-past-present-and-future/">
				<h2 class="[ h5 ] [ underline__text ]">
					Motion Paths – Past, Present and Future
				</h2>
			</a>
			<p>
				The ability to animate along a motion path is a really useful thing to have in your SVG animation toolkit. Let's explore a few ways to achieve this.
			</p>
			<footer class="[ Browser__footer ]">
				<a rel="external" class="[ none ]" href="https://tympanus.net/codrops">Codrops</a>
				<a class="[ arrow ]" rel="external" href="https://tympanus.net/codrops/2019/12/03/motion-paths-past-present-and-future/">Read post</a>
			</footer>
		</article>

		<article class="[ Browser js-browser ]">
			<a class="[ Browser__heading ]  [ underline ]" rel="external" href="/posts/creating-my-logo-animation/">
				<h2 class="[ h5 ] [ underline__text ]">Creating my logo animation.</h2>
			</a>
			<p>
				Using GSAP animation library and CSS clip paths to make a playful animated logo.
			</p>
			<footer class="[ Browser__footer ]">
				<a rel="external" class="[ none ]" href="/posts/">Blog</a>
				<a class="[ arrow ]" rel="external" href="/posts/creating-my-logo-animation/">Read post</a>
			</footer>
		</article>

		<a href="/writing/" class="[ button ] [ h6 ]" data-content="visit my blog...">visit my blog...</a>
	</div>
</section>
