{% extends 'layouts/base.njk' %}
{% set pageType = 'Workshop' %}

{% block content %}
	<main id="main-content" class="Workshop" tabindex="-1">
		<article class="[ wrapper ] [ pad-around-xlg ]">
			<div class="[ Workshop__text ] [ sf-flow ] [ pad-before ]">
				<h1 class="[ Workshop__heading ] [ h1 ]">{{ title }}</h1>
				{% if description %}
					<div class="[ Workshop__intro ] [ h6 ]">
						{{ description | safe }}
					</div>
				{% endif %}
			</div>
		</article>

		<div class="[ wrapper ] [ pad-after-lg ]">

			<div class="[ Workshop__resources ] [ sf-flow ]">
				{% if slides %}
					<div class="[ Workshop__slides ] [ sf-flow ]">
						<h2 class="[ h4 ]">Slides</h2>
						<div class="[ Workshop__slides-cont ]">
							<iframe src="{{ slides }}" width="580" scrolling="no" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe>
						</div>
					</div>
				{% endif %}
				{% if video %}
					<div class="[ Workshop__video ] [ sf-flow ]">
						<h2 class="[ h4 ]">Video</h2>
						<div class="[ Browser ] [ Featured__player ]">
							<div class="[ video-player ]">
								<iframe title="Video player: {{ title }}" width="580" height="315" src="{{ video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
							</div>
						</div>
					</div>
				{% endif %}
				{% if subContent %}
					<div class="[ Workshop__subcontent ] [ sf-flow ]">{{ subContent | safe }}</div>
				{% endif %}
				{% if image %}
					<figure class="[ Speaking__image ]">
						<img src="{{ image }}" alt="{{ imageCaption }}"/>
						<figcaption class="[ small ]" data-content="{{ imageCaption }}">
							{{ imageCaption }}
						</figcaption>
					</figure>
				{% endif %}
			</div>
		</div>

		{% if upcoming.length %}
			<div class="[ wrapper ] [ pad-before-lg ]">
				<div class="[ Workshop__events ] [ sf-flow ]">
					<h2 class="[ h4 ]">Upcoming events</h2>

					<ol class="[ Events ]" reversed="reversed">
						{% for event in upcoming %}
							<li class="[ Events__item ] [ sf-flow ]">
								<h3 class="[ h6 ]">
									<a href="{{ event.link }}" class="[ Events__link ]" rel="bookmark">{{event.title}}</a>
								</h3>
								<p class="[ Events__row ] [ small ]">
									<svg class="[ Events__svg ]" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 75.46 73.95">
										<path fill="currentColor" d="M64.68 10.9h-5.17V7.64a1.68 1.68 0 00-3.35 0v3.26H21.91V7.64a1.68 1.68 0 00-3.36 0v3.26H12.4a7.14 7.14 0 00-7.27 7V59a7.17 7.17 0 007.27 7.06h52.28A7.16 7.16 0 0072 59V17.92a7.13 7.13 0 00-7.32-7.02zM68.6 59a3.86 3.86 0 01-3.92 3.8H12.4A3.88 3.88 0 018.48 59V29H68.6zM8.48 25.71v-7.79a3.83 3.83 0 013.92-3.76h6.15v2.4a1.68 1.68 0 003.36 0v-2.4h34.25v2.4a1.68 1.68 0 003.35 0v-2.4h5.17a3.84 3.84 0 013.92 3.76v7.79z"/>
									</svg>
									<time datetime="{{ event.date | w3DateFilter }}">{{ event.date | dateFilter }}</time>
								</p>
								<p class="[ Events__row ] [ small ]">
									<svg class="[ Events__svg ]" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 75.46 73.95">
										<g stroke="currentColor" fill="currentColor" stroke-miterlimit="10" stroke-width=".75">
											<path d="M37.73 3.52A24.35 24.35 0 0013.4 27.85c0 9.76 5.91 20.16 11.69 28.26A122.34 122.34 0 0036.66 70a1.53 1.53 0 002.15 0 123.58 123.58 0 0011.57-13.89c5.78-8.1 11.68-18.5 11.68-28.26A24.35 24.35 0 0037.73 3.52zm0 3A21.27 21.27 0 0159 27.85c0 8.49-5.5 18.62-11.12 26.49a98.51 98.51 0 01-10.15 12.21 98.4 98.4 0 01-10.17-12.21c-5.62-7.87-11.12-18-11.12-26.49A21.27 21.27 0 0137.73 6.56z"/>
											<path d="M40.61 17.59a10.68 10.68 0 00-13.14 13.16 10.54 10.54 0 007.37 7.37A10.69 10.69 0 0048 25a10.52 10.52 0 00-7.39-7.41zm-4.36 2.79a7.62 7.62 0 11-6 6 7.62 7.62 0 016-6z"/>
										</g>
									</svg>
									{{ event.location }}
								</p>
							</li>
						{% endfor %}
					</ol>
				</div>
			</div>

		{% endif %}


		<div class="[ wrapper ] [ pad-after-lg ]">
			<div class="[ Workshop__events ] [ sf-flow ]">
				<h2 class="[ h4 ]">Past events</h2>

				<ol class="[ Events ]" reversed="reversed">
					{% for event in events %}
						<li class="[ Events__item ] [ sf-flow ]">
							<h3 class="[ h6 ]">
								<a href="{{ event.link }}" class="[ Events__link ]" rel="bookmark">{{event.title}}</a>
							</h3>
							<p class="[ Events__row ] [ small ]">
								<svg class="[ Events__svg ]" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 75.46 73.95">
									<path fill="currentColor" d="M64.68 10.9h-5.17V7.64a1.68 1.68 0 00-3.35 0v3.26H21.91V7.64a1.68 1.68 0 00-3.36 0v3.26H12.4a7.14 7.14 0 00-7.27 7V59a7.17 7.17 0 007.27 7.06h52.28A7.16 7.16 0 0072 59V17.92a7.13 7.13 0 00-7.32-7.02zM68.6 59a3.86 3.86 0 01-3.92 3.8H12.4A3.88 3.88 0 018.48 59V29H68.6zM8.48 25.71v-7.79a3.83 3.83 0 013.92-3.76h6.15v2.4a1.68 1.68 0 003.36 0v-2.4h34.25v2.4a1.68 1.68 0 003.35 0v-2.4h5.17a3.84 3.84 0 013.92 3.76v7.79z"/>
								</svg>
								<time datetime="{{ event.date | w3DateFilter }}">{{ event.date | dateFilter }}</time>
							</p>
							<p class="[ Events__row ] [ small ]">
								<svg class="[ Events__svg ]" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 75.46 73.95">
									<g stroke="currentColor" fill="currentColor" stroke-miterlimit="10" stroke-width=".75">
										<path d="M37.73 3.52A24.35 24.35 0 0013.4 27.85c0 9.76 5.91 20.16 11.69 28.26A122.34 122.34 0 0036.66 70a1.53 1.53 0 002.15 0 123.58 123.58 0 0011.57-13.89c5.78-8.1 11.68-18.5 11.68-28.26A24.35 24.35 0 0037.73 3.52zm0 3A21.27 21.27 0 0159 27.85c0 8.49-5.5 18.62-11.12 26.49a98.51 98.51 0 01-10.15 12.21 98.4 98.4 0 01-10.17-12.21c-5.62-7.87-11.12-18-11.12-26.49A21.27 21.27 0 0137.73 6.56z"/>
										<path d="M40.61 17.59a10.68 10.68 0 00-13.14 13.16 10.54 10.54 0 007.37 7.37A10.69 10.69 0 0048 25a10.52 10.52 0 00-7.39-7.41zm-4.36 2.79a7.62 7.62 0 11-6 6 7.62 7.62 0 016-6z"/>
									</g>
								</svg>
								{{ event.location }}
							</p>
						</li>
					{% endfor %}
				</ol>
			</div>
		</div>

		<div class="[ Workshop__feedback ] [ wrapper ] [ pad-after-xlg ] [ sf-flow ]">
			<h2 class="[ h4 ]">Feedback</h2>
			{% if testimonials %}
				{% for item in testimonials %}
					<blockquote class="[ Blockquote ] [ h6 ]">
						{{ item.testimonial}}
						<footer>
							—
							<cite class="author">
								{% if item.url %}
									<a href="{{ item.url }}}">{{ item.name }}
									{% else %}
										{{ item.name }}
									{% endif %}
								</cite>
							</footer>
							<svg xmlns="http://www.w3.org/2000/svg" height="100%" viewbox="0 0 975.036 975.036" width="100%"><path fill="var(--color-lilac)" d="m925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50z"/><path fill="var(--color-lilac)" d="m106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2s30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"/></svg>
						</blockquote>
					{% endfor %}
				{% endif %}
				{% if tweets %}
					<div class="[ Workshop__tweets ]">
						{{ content | safe }}</div>
				{% endif %}
			</div>
		</main>
	{% endblock %}
